.PaymentConfirmation-Container{
    margin: 0 auto;
    width: 350px;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    margin-bottom: 35px;
    border-radius: 10px;
    font-family: Lora;
}

.Bold{
    font-weight: 700;
}

.PaymentConfirmation-Content{
    display: grid;
    place-items: center;
    margin-top: 5%;

}

.PaymentConfirmation-top-field{
    border-radius: 10px 10px 0 0;
    height: 35px;
    background-color: #486349;
    margin-top: 35px;
}

.PaymentConfirmation-Checkicon{
    margin-bottom: 5%;
}

.PaymentConfirmation-Amount-Container, .PaymentConfirmation-Booking-Reference-Container, .PaymentConfirmation-Email-Container{
    display: flex;
    display: inline-block;
    width: 100%;
    margin-top: 4%;
}

.PaymentConfirmation-Email-Container{
    margin-bottom: 5%;
}

/* DESKTOP */

.PaymentConfirmation-Container-Desktop{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
}

.Bold-Desktop{
    font-weight: 700;
}
.PaymentConfirmation-Content-Desktop{
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    margin-bottom: 35px;
    border-radius: 10px;
    font-family: Lora;
}

.PaymentConfirmation-top-field-Desktop{
    border-radius: 10px 10px 0 0;
    height: 35px;
    background-color: #486349;
    margin-top: 35px;
}

.PaymentConfirmation-Checkicon-Desktop{
    margin-top: 5%;
    margin-bottom: 1%;
}

.PaymentConfirmation-Amount-Container-Desktop, .PaymentConfirmation-Booking-Reference-Container-Desktop, .PaymentConfirmation-Email-Container-Desktop{
    display: flex;
    display: inline-block;
    width: 100%;
    margin-top: 4%;
}

.PaymentConfirmation-Email-Container-Desktop{
    margin-bottom: 5%;
}