.Registration-create-form{
    display: grid;
    place-items: center;
    /* border: 1px solid; */
    /* height: 100vh; */
}

.Registration-form{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    border: 1px solid;
    padding: 0 1% 1% 1%;
    height: 100%;
}

.Login-Form{
    height: 50vh;
    /* border: 1px solid; */
}

.form-group{
    margin-top: 10px;
    display: flex;
    /* border: 1px solid; */
    flex-direction: column;
}

.Registration-form-text{
    margin-top: 25px;
}

.Registration-btn{
    margin: 5px 5px 5px 0;
}