/* .Home-AboutOurCabins-Container{
    display: grid;
    place-items: center;
    border: 1px solid;
}
.Home-AboutOurCabins{
    display: grid;
    place-items: center;
    width: 298px;
}
.Home-AboutOurCabins-Title{

} */