.ReviewObjectListingCard-container{
    /* border: 1px solid; */
    width: 90%;
    margin: 0 auto; 
    margin-top: 15px;
    border-top: 1px solid #BEBEBE;
}

.ReviewObjectListingCard-container h3{
    margin-top: 15px;
}

.ReviewObjectListingCard-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ReviewObjectListingCard-container-Desktop {
    width: 75%;
    margin: 0 auto;
    /* border: 1px solid; */
    margin-top: 30px;
    font-family: Lora;
}

.ReviewObjectListingCard-content-Desktop {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 2fr);

}