.ObjectListingDetailsCarousel-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#ObjectListingDetailsCarousel-Left-Arrow{
    transform: rotate(180deg);
    
}

.Responsive-Image1, .Responsive-Image2, .Responsive-Image3, .Responsive-Image4{

    width: 223px;
    height: 155px;
    object-fit: cover;

}

.Responsive-Arrow{
    height: 42px;
    width: 55px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .Responsive-Image1, .Responsive-Image2, .Responsive-Image3, .Responsive-Image4{
        width: 200px;
        height: 140px;
        object-fit: cover;
    }
    .Responsive-Arrow{
        height: 24px;
        width: 35px;
    }
  }