.Home-About-Activities-Booking{
    margin: 0 auto;
    display: grid;
    width: 330px;
    height: 563px;
    border-radius: 10px;
    background: #FCFCFC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

@media (min-width: 1000px) and (max-width: 2000px) {
    .Home-About-Activities-Booking {
     /* margin-left: 50px; */
     width: auto;
     height: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
  }



