.Home-PackageCard-container {
    font-family: Lora;
    margin: 0 auto;
    display: grid;
    place-items: center;
    text-align: center;
}

.packageCard-details {
    width: 330px;
    height: 500px;
    /* border: 1px solid;  */
    background: #FCFCFC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5%;
    border-radius: 10px;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr 2fr;
}

.Home-Package-Images {
    width: 100%;
    border-radius: 10px 10px 0 0;
    /* flex-grow: ; */
}

.PackageCard-Name {
    font-weight: 100;
    height: 42px;
    margin-top: 5px;
}

.PackageCard-Description {
    margin: 0 auto;
    /* margin-top: 10px; */
    width: 292px;
    text-align: start;
}

.PackageCard-Icon-Wrapper {
    /* border: 1px solid; */
    margin: 0 auto;
    margin-top: 5%;
    width: 292px;

}

.PackageCard-Icon-Content {
    display: flex;
    height: 100%;
}

.PackageCard-Icons {
    margin: 5px;
}

@media (min-width: 1000px) and (max-width: 2000px) {
    .Home-PackageCard-container {
    
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
  }