.User-Profile-Form-Container {
    margin: 0 auto;
    margin-top: 5%;
    display: grid;

    width: 90%;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: Lora;
    border-radius: 10px;
    margin-bottom: 5%;
}

.User-Profile-Form-Wrapper {
    margin: 8px;
    display: grid;
}

.User-Profile-Form-Wrapper>* {
    margin-bottom: 10px;
}

.User-Profile-Confirm-Booking-Btn-Container {
    display: grid;
    place-items: center;
    padding: 5%;
}

.User-Profile-Confirm-Booking-Btn {
    display: inline-flex;
    padding: 11px 16px 12px 13px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #D8C690;
    border: none;
    font-family: Lora;
}

.User-Profile-Confirm-Booking-Btn-Container-Desktop {
    display: grid;
    place-items: center;
    padding: 1%;
}

.User-Profile-Confirm-Booking-Btn-Desktop {
    display: inline-flex;
    padding: 11px 16px 12px 13px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #D8C690;
    border: none;
    font-family: Lora;
}


.User-Profile-Form-Container-Desktop {
    margin: 0 auto;
    margin-top: 5%;
    display: grid;

    width: 90%;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: Lora;
    border-radius: 10px;
    margin-bottom: 5%;
}

.User-Profile-Form-Wrapper-Desktop {
    margin: 8px;
    display: grid;
    border: 1px solid;
}

.User-Profile-Form-Wrapper-Desktop>* {
    margin-bottom: 10px;
}

.User-Profile-Payment-Methods-Desktop {

    display: flex;
    align-items: center;
    justify-content: space-around;
}