*{
  text-decoration: none;
}
a{
  color: black;
}

p{
  font-size: 16px;
}
@media (min-width: 1000px) and (max-width: 2000px) {
  .Page-Content {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid; */
   /* margin-left: 50px; */
   /* width: auto;
   height: auto;
   display: flex;
   justify-content: space-around;
   align-items: center;*/ 
  } 
}