/* .PackageWrap{
    display: inline-block;
    width: 100%;
} */

.PackageLabel{
    font-size: 20px;
}

.Package-Container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 323px;
    margin: 0 auto;
}

#InputPackage{
    width: 89px;
    height: 23px;
    border: none;
    position: absolute;
    outline: none;
    color:  #A0A0A0;
}

.Drop-Down-Packages-Content-Wrapper{
    position: relative;
}

.Drop-Down-Packages-Content{
    
    position: absolute;
    top: 65px;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    background-color: #F1F1F1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    
}

.Drop-Down-Packages-Item{
    height: 30px;
    display: grid;
    place-items: center;
}

.Packages-Item-Border{
    border-bottom: 1px solid #BFBFBF;
}

.Drop-Down-Packages-Item:hover{
    background-color: #555555;
    color: #FFF;
}

.rdrDateDisplay{
    display: none !important;
}

.rdrMonthName{
    display: none !important;
}

.Hero-Home-Search-Btn-Container{
    display: grid;
    place-items: center;
}

.Hero-Home-Search-Btn{
    display: grid;
    place-items: center;
    width: 323px;
    height: 39px;
    flex-shrink: 0;
    background-color: #CBB26A;
    border: none;
    border-radius: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

@media (min-width: 999px) {

    #InputPackage{
        background-color: #f1f1f1;
    }
    .PackageWrap {
        background-color: #f1f1f1;
     display: flex;
     /* width: 100%; */
         justify-content: space-evenly;
        /*align-items: center; */
        /* border: 3px solid yellow; */
        /* border: 2px solid; */
    }
    .Package-Container{
        border-right: 1px solid #D1D1D1;
        width: 225px;
    }
    .magnifyingglass{
        border: none;
        /* padding-left: 3%; */
        /* background-color: red; */
        margin-left: 25px;
    }
  }