.Tempo-Comp-Container{
    width: 95%;
    margin: 0 auto;
    /* border: 1px solid; */
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Tempo-Comp-Container > *{
    margin-top: 15px;
    margin-bottom: 5px;

}


.Tempo-Comp-Icons{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
}

.Tempo-Comp-Icons img{
    width: 22px;
    margin-right: 5px;
}

/* DESKTOP */


.Tempo-Comp-Container-Desktop{
    /* width: 95%; */
    width: 75%;
    margin: 0 auto;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* .Tempo-Comp-Container-Desktop{
} */

.Tempo-Comp-Icons-Desktop{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
    
}

.Tempo-Comp-Icons-Desktop img{
    margin-right: 20px;
}